{% extends 'index2.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="321" border="1">
    <tr>
      <td width="49"><div align="center"><a href="/reg">Register</a></div></td>
      <td width="81"><a href="/view">View_Details</a></td>
      <td width="84"><div align="center"><a href="/work">Assign_Work</a></div></td>
       <td width="135"><a href="/view_assigned_work">View assigned work</a></td>
      <td width="11"><a href="viewr">View_Work_Report</a></td>
      <td width="8"><a href="/view_a">View_Attendance</a></td>
    </tr>
  </table>
  <div align="center"><a href="#"></a></div>
  <a href="#"></a>
</form>
{% endblock %}
