<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
     <tr>
      <td>Type</td>
      <td><label>
         <select name="select">
          <option>--SELECT--</option>

          <option value="TL" {% if val[1]=='TL' %}selected {% endif %}>TL</option>
          <option value="MH" {% if val[1]=='MH' %}selected {% endif %}>MH</option>
        </select>

      </label></td>
    </tr>
    <tr>
      <td>Head</td>
      <td><label>
        <select name="select2">
        </select>
      </label></td>
    </tr>
    <tr>
      <td>Title</td>
      <td><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <td>Work</td>
      <td><label><a href="{{url_for('change_work',id=val[0])}}">change work</a></label></td>
    </tr>
    <tr>
      <td>Time</td>
      <td><label>
        <input type="text" name="textfield3" />
      </label></td>
    </tr>
    <tr>
      <td>Date</td>
      <td><label>
        <input type="date" name="textfield2" />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
          <div align="center">
            <input type="submit" name="Submit" value="Update" />
          </div>
        </label></td>
    </tr>
  </table>
</form>
</body>
</html>
